section.pagination-wrapper
	.pagination 
		button.icon-button.button--blue 
			i.icon &#x3c;
		button.icon-button.button--blue 1
		button.icon-button.button--blue 2
		button.icon-button.button--blue.pagination--active 3
		button.icon-button.button--blue 4
		button.icon-button.button--blue ...
		button.icon-button.button--blue 10
		button.icon-button.button--blue 
			i.icon &#x3e;