nav.sidebar
	ul.sidebar__list
		li.sidebar__item
			a.sidebar__link Главная
		li.sidebar__item
			a.sidebar__link Аккаунты
			ul.sidebar__sub-list
				li.sidebar__sub-item
					a.sidebar__sub-link Заявки
						ul.sidebar__sub-list-2
							li.sidebar__sub-item-2
								a.sidebar__sub-link-2 Действующие
							li.sidebar__sub-item-2
								a.sidebar__sub-link-2 Блокированные!
