.button {
	padding: 15px 40px;
	border: none;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--white);
	border-radius: 10px;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
	border: 2px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.icon-button {
	display: block;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	font-size: 20px;
	color: var(--white);
	border: 2px solid;
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.button--small {
	padding: 7px 20px;
}

.button--blue {
	background-color: var(--blue);
	&:hover {
		color: var(--blue);
		background-color: transparent;
		border: 2px solid;
	}
}

.button--red {
	background-color: var(--red);
	&:hover {
		color: var(--red);
		background-color: transparent;
		border: 2px solid;
	}
}
.button--green {
	background-color: var(--green);
	&:hover {
		color: var(--green);
		background-color: transparent;
		border: 2px solid;
	}
}
