.pagination-wrapper {
	display: flex;
	margin-bottom: 30px;
}

.pagination {
	margin: 0 auto;
}

.pagination--active {
	background-color: var(--green);
}

.purchase__additional-buttons {
	& button:nth-child(n + 2) {
		margin-left: 10px;
	}
}
