include ../input/input

section.search-area
	.search-tabs
		button.button.button--blue.search-tabs__button Поиск
		button.button.button--blue.search-tabs__button Сортировка
	.search-inputs 
		+input('text', 'Категория товара', 'search-inputs__inputs')
		+input('text', 'Код ОКПД2')
		+input('text', 'Идентификатор закупки')

		//- //TODO: To select https://mui.com/material-ui/react-select/
		+input('text', 'Единица измерения') 