.purchase__title {
	margin-top: 30px;
}

.purchase__subtitle {
	margin-top: 10px;
}

.table--left-title {
	margin-top: 10px;
	.table__title {
		width: 200px;
		text-align: left;
		padding-left: 20px;
	}
}

.purchase__additional-info {
	margin-top: 30px;
}
