.search-tabs,
.search-workspace {
	margin-bottom: 20px;
}

.search-tabs__button {
	&:nth-child(n + 2) {
		margin-left: 10px;
	}
}

.search-workspace {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
