table.table.table--left-title
	tbody
		tr
			td.table__title Статус
			td -
		tr
			td.table__title Стоимость
			td 
		tr
			td.table__title Количество
			td 
		tr
			td.table__title Цена за список
			td 
		tr
			td.table__title Страна
			td 
		tr
			td.table__title Регион
			td 
		tr
			td.table__title Прием предложений до
			td 
		tr
			td.table__title Дата аукциона
			td
		tr
			td.table__title Время аукциона
			td 
		tr
			td.table__title Шаг аукциона
			td
		tr
			td.table__title Дата публикации
			td
		tr
			td.table__title НДС
			td
