extends ../templates/no-pagination
include ../components/button/button
include ../components/button-link/button-link

block outlet
	h3.title.section-title Аккаунты / 
		span.section-subtitle Сертификаты ЭПЦ

	table.table.mt30px
		thead
			tr 
				td Владелец
				td Дата выдачи
				td Действителен до
				td Статус
		tbody
			tr
				td -
				td -
				td -
				td -