extends ../templates/no-pagination
include ../components/button/button
include ../components/button-link/button-link

block outlet 
	h3.title.section-title Аккаунты / 
		span.section-subtitle Данные профиля

	table.table.table--left-title.mt30px
		tbody
			tr
				td.table__title Профиль
				td
			tr
				td.table__title Статус аккаунта
				td 
			tr
				td.table__title Название
				td 
			tr
				td.table__title Страна
				td 
			tr
				td.table__title Регион
				td 
			tr
				td.table__title Ставка НДС
				td 
			tr
				td.table__title Телефон
				td
			tr
				td.table__title E-mail
				td 
			tr
				td.table__title Контактное лицо
				td

