extends ../templates/layout
include ../components/button/button
include ../components/button-link/button-link

block outlet
	h3.title.section-title Аукционы
	table.table.mt30px
		thead
			tr 
				td Аукционы
				td Статус
				td Действия
		tbody
			tr
				td Аукционы
				td Статус
				td.table__action-buttons
					a(href="/admin-alavito/public/auctions-info.html",
					class="icon-button button--blue")
						span.icon-button__icon &#9432;
					button.icon-button.button--red
						span.icon-button__icon &#10006;


	//****


	//****
	h3.title.section-title История торгов
	table.table.table--left-title.mt10px
		tbody
			tr
				td.table__title Победитель
				td
			tr
				td.table__title Участник
				td 
			tr
				td.table__title Цена
				td
			tr
				td.table__title Время
				td

	table.table.purchase-history__table.mt30px
		thead
			tr 
				td Предложения
				td Участники
				td Время
		tbody
			tr
				td -
				td -
				td -

	//****


