extends ../templates/layout
include ../components/button/button

block outlet
	h3.purchase__title.title Закупка №1234567890
	p.purchase__subtitle.subtitle Общая информация

	block purchase 
		include ./../content/purchase/purchase

	.purchase__additional-info
	h3.title Дополнительная информация
	.purchase__additional-buttons
		a(href="/admin-alavito/public/purchases-history.html")
			+button('История закупки')(class='button--blue button--small')
		a(href="/admin-alavito/public/purchases-offer.html")
			+button('Предложения')(class='button--blue button--small')
		+button('Аукцион')(class='button--blue button--small')
		+button('Договор')(class='button--blue button--small')
		+button('БС')(class='button--blue button--small')
