extends ../templates/no-pagination
include ../components/button/button
include ../components/button-link/button-link

block outlet
	h3.title.section-title Статистика / 
		span.section-subtitle Закупки

	h3.title.section-title.mt30px Закупки
	table.table.table--left-title.mt10px
		tbody
			tr
				td.table__title Количество черновиков
				td
			tr
				td.table__title Количество опубликованных
				td 
			tr
				td.table__title Количество товаров
				td
			tr
				td.table__title Средняя стартовая цена
				td
			tr
				td.table__title Максимальная начальная цена
				td
			tr
				td.table__title Максимальная итоговая цена
				td
			tr
				td.table__title Наиболее частый регион
				td
			tr
				td.table__title Количество услуг
				td
			tr
				td.table__title Средняя стартовая цена
				td
			tr
				td.table__title Максимальная начальная цена
				td
			tr
				td.table__title Средняя итоговая цена
				td
			tr
				td.table__title Максимальная итоговая цена
				td
			tr
				td.table__title Наиболее частый регион
				td

	h3.title.section-title.mt30px Предложения
	table.table.table--left-title.mt10px
		tbody
			tr
				td.table__title Среднее количество предложений
				td
			tr
				td.table__title Наиболее частый регион предложений
				td 

	h3.title.section-title.mt30px Торги
	table.table.table--left-title.mt10px
		tbody
			tr
				td.table__title Среднее количество шагов
				td
			tr
				td.table__title Средний шаг торгов
				td 

	h3.title.section-title.mt30px Финансы
	table.table.table--left-title.mt10px
		tbody
			tr
				td.table__title Общая сумма на счетах
				td
			tr
				td.table__title Общая сумма резервирования
				td
			tr
				td.table__title Средний баланс
				td
			tr
				td.table__title Средний зарезервированный баланс
				td 
			tr
				td.table__title Количество проведенных платежей
				td
			tr
				td.table__title Количество платежей по карте
				td 
			tr
				td.table__title Средняя сумма платежа
				td 

	h3.title.section-title.mt30px Бонусы
	table.table.table--left-title.mt10px
		tbody
			tr
				td.table__title Общее количество бонусов
				td
			tr
				td.table__title Общее количество зарезервированных бонусов
				td
			tr
				td.table__title Среднее количество бонусов на счету
				td
			tr
				td.table__title Среднее количество зарезервированных бонусов
				td 




