include ../../components/input/input
include ../../components/select/select
include ../../components/button/button

- const unitOfMeasurement = ['lorem', 'ipsum', 'dolor'];

- const sortType = ['По убыванию', 'По возрастанию'];

- const sortParameters = ['Название (категория товара)','ОКПД2','Идентификатор закупки', 'Единицы измерения','Дата аукциона','Дата публикации','Дата заключения договора','Покупатель/поставщик','Страна','Город','ИНН','НМЦК','Прием предложений','НДС','Товар/услуга','Цена договора','Время аукциона???','ОПФ ЮЛ','Статус закупки','статус договора','статус аукциона'];

section.search-area
	.search-tabs
		button(class="button button--blue search-tabs__button" name="search") Поиск
		button(class="button button--blue search-tabs__button" name="sort") Сортировка
	div(class="search-workspace collapse" data-name="search") 
		+input('text', 'Категория товара')
		+input('text', 'От' )
		+input('text', 'С' )
		+input('text', 'Код ОКПД2')
		+input('text', 'До' )
		+input('text', 'По' )
		+input('text', 'Идентификатор закупки')
		+select('Единица измерения', unitOfMeasurement)
	div(class="search-workspace collapse" data-name="sort")
		+select('Сортировка', sortType)
		+select('Дополнительная информация', sortParameters)
	.search-footer.collapse
		+button('Найти')(class="button--blue")
		+button('Сбросить')(class="button--red search-tabs__button")
