include ../../components/input/input
include ../../components/select/select
include ../../components/button/button

- const  unitOfMeasurement = ['lorem', 'ipsum', 'dolor'];

section.search-area
	.search-tabs
		button.button.button--blue.search-tabs__button Поиск
		button.button.button--blue.search-tabs__button Сортировка
	.search-inputs 
		+input('text', 'Категория товара')
		+input('text', 'От' )
		+input('text', 'С' )
		+input('text', 'Код ОКПД2')
		+input('text', 'До' )
		+input('text', 'По' )
		+input('text', 'Идентификатор закупки')
		+select('Единица измерения', unitOfMeasurement)
	+button('Найти')(class="button--blue search-tabs__button")
	+button('Сбросить')(class="button--red search-tabs__button")