li.sidebar__item
	a.sidebar__link(href="/admin-alavito/public/contracts.html") Договоры
	ul.sidebar__sub-list
		li.sidebar__sub-item
			a.sidebar__sub-link На подписании
		li.sidebar__sub-item
			a.sidebar__sub-link Спорные
		li.sidebar__sub-item
			a.sidebar__sub-link Подписанные
		li.sidebar__sub-item
			a.sidebar__sub-link Архивные
				ul.sidebar__sub-list-2
					li.sidebar__sub-item-2
						a.sidebar__sub-link-2 Не подписанные
					li.sidebar__sub-item-2
						a.sidebar__sub-link-2 Подписанные
