li.sidebar__item
	a.sidebar__link Закупки
	ul.sidebar__sub-list
		li.sidebar__sub-item
			a.sidebar__sub-link Неопубликованные
		li.sidebar__sub-item
			a.sidebar__sub-link Опубликованные
				ul.sidebar__sub-list-2
					li.sidebar__sub-item-2
						a.sidebar__sub-link-2 Состоявшиеся
					li.sidebar__sub-item-2
						a.sidebar__sub-link-2 Действующие
			a.sidebar__sub-link Архивные
				ul.sidebar__sub-list-2
					li.sidebar__sub-item-2
						a.sidebar__sub-link-2 Не состоявшиеся
					li.sidebar__sub-item-2
						a.sidebar__sub-link-2 Состоявшиеся