li.sidebar__item
	a.sidebar__link Статистика
	ul.sidebar__sub-list
		li.sidebar__sub-item
			a.sidebar__sub-link Аккаунты
		li.sidebar__sub-item
			a.sidebar__sub-link(href="/admin-alavito/public/statistics-purchases.html") Закупки
		li.sidebar__sub-item
			a.sidebar__sub-link Аукционы
		li.sidebar__sub-item
			a.sidebar__sub-link Договоры
		li.sidebar__sub-item
			a.sidebar__sub-link Сделки