nav.sidebar
	ul.sidebar__list
		include ./includes/main
		include ./includes/accounts
		include ./includes/purchases
		include ./includes/auctions
		include ./includes/contracts
		include ./includes/deals
		include ./includes/settings
		include ./includes/statistics

