:root {
	// --green: #16a085;
	--green: #00b916;

	// --red: #e05d6f;
	--red: #e74c3c;

	// --blue: #418bca;
	--blue: #3498db;

	//--grey: #3f4e62;
	--grey: #34495e;

	--grey-light: #cccccc;
	--white: #fff;
}

@import "./normalize.modified.scss";

body {
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

.button {
	padding: 15px 40px;
	border: none;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--white);
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 20px -14px rgba(0, 0, 0, 0.75);
	border: 2px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button--blue {
	background-color: var(--blue);
	&:hover {
		color: var(--blue);
		background-color: #fff;
		border: 2px solid var(--blue);
	}
}

.button--red {
	background-color: var(--red);
	&:hover {
		color: var(--blue);
		background-color: #fff;
		border: 2px solid var(--blue);
	}
}

.button--green {
	background-color: var(--green);
	&:hover {
		color: var(--blue);
		background-color: #fff;
		border: 2px solid;
	}
}

//BUTTON 1

@import "./layout.scss";

//*Pages
@import "./pages/purchases.scss";

//*Components:
@import "./components/sidebar.scss";
@import "./components/search-area.scss";
