:root {
	// --green: #16a085;
	--green: #00b916;

	// --red: #e05d6f;
	--red: #e74c3c;

	// --blue: #418bca;
	--blue: #3498db;

	//--grey: #3f4e62;
	--grey: #34495e;

	--grey-light: #cccccc;
	--white: #fff;
}

@import "./normalize.modified.scss";

body {
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

@import "./layout.scss";

//*Pages
@import "./pages/purchases.scss";

//*Content
@import "./content/search-area.scss";

//*Components:
@import "./components/sidebar.scss";
@import "./components/input.scss";
@import "./components/button.scss";
@import "./components/table.scss";
@import "./components/pagination.scss";

.collapse {
	display: none;
}
